@import url('https://fonts.googleapis.com/css2?family=Lato&family=Open+Sans:wght@800&family=Sigmar&family=Work+Sans:wght@400;500;600;700;800&display=swap');

*{
  font-family: 'Lato', sans-serif;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Work Sans', sans-serif;
}

header{
  background: rgba(255, 144, 14, 0.10);
  padding: 50px 240px;

}

nav{
  display: flex;
  justify-content: space-between;
}
nav>ul{
  display: flex;
}
nav li{
  list-style: none;
  text-decoration: none;
  margin-right: 30px;

}
.head{
  color: var(--dark-01, #131313);
  text-align: center;
  font-family: Work Sans;
  font-size: 45px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
nav li a{
  text-decoration: none;
  color: var(--dark-02, #424242);
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 26p
}
.banner-content{
  max-width: 800px;

}
.title{
  color: var(--dark-01, #131313);
  text-align: center;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.banner-description{
  color: var(--dark-03, #727272);
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
}
.banner{
  align-items: center;
  
}
.banner-content{
  text-align: center;
  justify-items: center;
  margin: 0 auto;
}
.btn{
  color: #FFF;
  text-align: center;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  width: 180px;
  height: 64px;
  flex-shrink: 0;
  border-radius: 8px;
  background: #FF900E;
  cursor: pointer;
  border: 0;
}

.banner img {
   width: 100%;
   margin-top: 20px;
}
@media screen and (max-width:576px){
   header{
     padding: 20px;

   }
   nav, .team-contain
     {
    flex-direction: column;
   }
    .img-contain {
     display: grid;
     grid-template-columns:1fr;
   }
  
}
@media screen and (min-width:576px) and (max-width:960px) {
   nav{
    flex-direction: column;

   }
   main{
    max-width: 1440px;
    margin: 0 auto;

   }
  
}
.team-contain{
  display: flex;
  align-items: center;
}
.img-contain{
   display: grid;
   grid-template-columns: repeat(2,1fr);
   gap: 25px;
}
.kaam-kori{
  max-width: 540px;
  gap: 24px;
  padding-left: 70px;
}
.team-title{
  width: 468px;
  color: var(--dark-03, #727272);
  font-family: Work Sans;
  font-size: 45px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.our{
  color: var(--dark-01, #131313);
  font-family: Work Sans;
  font-size: 45px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.feat{
  color: #FF900E;
  font-family: Work Sans;
  font-size: 45px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.team-des{
  color: var(--dark-03, #727272);
  font-family: Work Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  width: 537px;
}